<!DOCTYPE html>
<html>
    <head>
        <title>Home page</title>
    </head>
    <body>
        <%for(let ele of user_list){%>
            <div>
                <%=ele.name%>
                <%=ele.email%>
                <button>Update</button>
                <button>delete</button>

            </div>
        <%}%>
       
        <button onclick="location.href = 'http://localhost:3000/form'">Add</button>

    </body>
</html>